.responsive-table .row-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.responsive-table .row-item:not(:first-child) {
  padding: 1em 0 4em 0;
  margin: 1em 0;
}

@media (min-width: 40em) {
  .responsive-table .row-item:not(:first-child) {
    padding: 0 0 2em 1em;
  }
}

.responsive-table .row-item:nth-child(2n-1):not(:first-child) {
  background-color: #F7F7F7;
}

.responsive-table .row-item .row-item--head {
  width: 100%;
}

@media (min-width: 40em) {
  .responsive-table .row-item .row-item--head {
    width: 50%;
  }
}

.responsive-table .row-item .row-item--head .image {
  align-self: flex-start;
  height: 50px;
}

.responsive-table .row-item .row-item--head .label {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .responsive-table .row-item .row-item--head .label {
    text-align: left;
  }
}

.responsive-table .row-item .row-item--head .label h5 {
  margin: 0;
  font-size: 1.1em;
}

.responsive-table .row-item .row-item--head .label small {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
}

@media (min-width: 40em) {
  .responsive-table .row-item .row-item--head .label small {
    bottom: 1em;
    left: 1em;
  }
}

.responsive-table .row-item .row-item--head .desc {
  display: none;
}

@media (min-width: 56.25em) {
  .responsive-table .row-item .row-item--head .desc {
    display: block;
  }
}

.responsive-table .row-item .row-item--columns {
  width: 100%;
}

@media (min-width: 40em) {
  .responsive-table .row-item .row-item--columns {
    width: calc(100% - 50%);
  }
}

.responsive-table .row-item .row-item--columns .column-header {
  margin: 0.5em 0;
}

.responsive-table .row-item .row-item--columns .column-item {
  margin: 0.5em 0;
  line-height: 1.5;
  font-weight: 300;
}

.responsive-table .row-item .row-item--columns .column-item h6 {
  display: none;
}

.responsive-table .row-item .row-item--columns .column-item--price {
  font-size: 1.3rem;
  font-weight: 700;
}

.responsive-table .row-item .row-item--columns .column-item--price br {
  display: none;
}

@media (min-width: 40em) {
  .responsive-table .row-item .row-item--columns .column-item--price br {
    display: block;
  }
}

.responsive-table .row-item .row-item--columns .row-item-column-wrp {
  position: relative;
}

.responsive-table .row-item .glide_table_item {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .responsive-table .row-item .glide_table_item {
    max-width: none;
  }
}

.responsive-table .row-item .glide__slides--head {
  background-color: #363636;
  color: #FFF;
  padding: 0.5em 0;
}

.responsive-table .row-item .glide__slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-table .row-item .glide__slide h6 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}

.responsive-table .row-item .glide__arrow_wrp--left, .responsive-table .row-item .glide__arrow_wrp--right {
  background-color: transparent;
}

.responsive-table .row-item [data-table-control] {
  border: none;
}

.responsive-table .row-item [data-table-control]:disabled {
  opacity: 0.1;
}

.responsive-table .row-item .table-controls {
  height: 0;
}

@media (min-width: 40em) {
  .responsive-table .row-item .table-controls {
    display: none;
  }
}

/*# sourceMappingURL=responsive-table.css.map */