.grid-container {
  height: 200px;
}

.site {
  display: grid;
  background-color: #1b6d85;
  grid-template-columns: 100px 200px 300px;

  :first-child {
    background-color: rgba(0, 0, 0, 0.1);
  }

  > *:nth-child(2){
    background-color: rgba(0, 0, 0, 0.2);
  }


  :last-child {
    background-color: rgba(0, 0, 0, 0.3);
  }


  > * {
    padding: 2em;
  }
}
