.ifs-page *,
.ifs-page *:before,
.ifs-page *:after {
    box-sizing: border-box;
}

.ifs-page {
    width: calc(100% - 40px);
    padding: 1rem 20px 2rem 20px;
    font-family: LatoLatinWebSemibold;

}

.ifs-uploader {
    max-width: 1024px;
}

.ifs-uploader-output-area {
    border: 1px solid #c8c8c8;
    padding: 1rem 20px;
    color: #4b4b4b;
    font-size: 0.9rem;
}

.ifs-uploader-output-area h4 {
    margin: 0;
}

.ifs-uploader-title {
    margin: 0 0 1rem;
    font-family: inherit;
    color: #169cd7;
}

.ifs-uploader-input {
    top: -5000px;
    left: -5000px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.ifs-uploader-input-btn {
    display: inline-block;
    font-size: 12px;
    font-family: LatoLatinWebSemibold;
    border: 1px #cee6ff solid;
    color: #169cd7;
    background-color: #fff;
    margin-top: 1em;
    padding: 0.4em 0.5em 0.2em;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.ifs-uploader-input-btn:focus,
.ifs-uploader-input-btn:not(:disabled):hover {
    color: #0f6a92;
    background-color: #cee6ff;
}

.ifs-uploader-input-btn-send {
    color: #cee6ff;
    background-color: #169cd7;
}

.ifs-uploader-input-btn-send:disabled {
    opacity: 0.3;
    cursor: default;
}

.ifs-uploader-input-btn-send:focus,
.ifs-uploader-input-btn-send:not(:disabled):hover {
    color: #0f6a92;
    background-color: #cee6ff;
}

.ifs-uploader-list {
    
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
}

.ifs-uploader-list li {
    color: #169cd7;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.ifs-restrictions {
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 1px 1rem 1rem;
    margin-top: 1rem;
    color: #646464;
    font-size: 14px;
    line-height: 1.5;
}