<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    http://localhost:8001/?&ifs_app_states_0=id:439248e8-6679-41f0-af08-7158699458da;
    title:MODE%252FD(NEAR%252F0(frank));
    type:default;sSearchTerm:MODE%2FD(NEAR%2F0(frank));
    iSearchIndex:1%23%23c2VhcmNocHJvZmlsZS1zdGFuZGFyZA%3D%3D;sSearchMode:scnormalized;
    connectorId:all;rlViewMode:full&ifs_app_states_1=id:262b8428-d2fc-4c3c-b9e9-3d807cb281e9;
    title:frankfurt;type:default;sSearchTerm:frankfurt;iSearchIndex:1%23%23c2VhcmNocHJvZmlsZS1zdGFuZGFyZA%3D%3D;
    sSearchMode:scnormalized;
    sSearchDistance:0;
    acExtendSynonyms:true;connectorId:all;
    rlViewMode:full&ifs_app_states_2=id:97b9e75e-14db-4c17-976b-199505c690da;
    title:ifs.tab.new;type:default;sSearchTerm:;
    iSearchIndex:1%23%23c2VhcmNocHJvZmlsZS1zdGFuZGFyZA%3D%3D;sSearchMode:scnormalized;sSearchDistance:0;acExtendSynonyms:true;connectorId:all


</body>
</html>