@-webkit-keyframes spin--clockwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin--clockwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes spin--counterclockwise {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin--counterclockwise {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes scale-enlarge {
  0%, 29% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40%, 50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  51% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  55% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-enlarge {
  0%, 29% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40%, 50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  51% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  55% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}