select {
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

form *:focus:not(select) {
  -webkit-box-shadow: 0 0 5px #848483;
          box-shadow: 0 0 5px #848483;
  outline: none;
}

.form-mandatory label:after {
  content: ' *';
  display: inline;
}

@media only screen and (min-width: 30em) {
  .form-row--single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-row--single .form-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (min-width: 40em) {
  .form-row--multiple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-row--multiple .form-item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .form-row--multiple .form-item:nth-of-type(1) {
    margin-right: 1%;
  }
  .form-row--multiple .form-item:nth-of-type(2) {
    margin-left: 1%;
  }
  .form-row--multiple .form-item:nth-of-type(3) {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 30em) {
  .form-row--childages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-row--childages .form-item {
    margin: 0 0.3em;
  }
  .form-row--childages .form-item .input-input {
    width: 2em;
    padding: 0;
  }
}

.form-row--childages .form-item {
  margin: 1.5em 0;
  max-width: 100px;
}

.form-row--childages .form-item:not(:last-child) {
  margin-right: 0.5em;
}

.form-row--childages .form-item.hide {
  display: none;
}

.form-item {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.form-item label {
  font-size: 0.8em;
  display: block;
  color: #000000;
}

.form-item .input-input, .form-item .input-textarea, .form-item .input-select {
  border: 1px solid #ebedef;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 3em;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item .input-input input, .form-item .input-input select, .form-item .input-input textarea, .form-item .input-textarea input, .form-item .input-textarea select, .form-item .input-textarea textarea, .form-item .input-select input, .form-item .input-select select, .form-item .input-select textarea {
  position: relative;
  border: none;
  margin: 1px;
  width: 100%;
  background-color: transparent;
  padding: 0 0 0 0.5em;
}

.form-item .input-input input:focus, .form-item .input-input select:focus, .form-item .input-input textarea:focus, .form-item .input-textarea input:focus, .form-item .input-textarea select:focus, .form-item .input-textarea textarea:focus, .form-item .input-select input:focus, .form-item .input-select select:focus, .form-item .input-select textarea:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-item .input-textarea {
  height: 4em;
}

.form--module label {
  color: #FFF;
}

.form--module .submit-button--module {
  margin: auto 0;
}

.form--module .submit-button--module :first-child {
  background-color: #FFF;
  color: #000000;
}

@media only screen and (min-width: 48em) {
  .form--module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form--module .form-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .form--module .form-item:nth-of-type(1) {
    margin-right: 1%;
  }
  .form--module .form-item:nth-of-type(2) {
    margin-left: 1%;
  }
  .form--module .form-item:nth-of-type(3) {
    margin-left: 2%;
  }
}

@media (min-width: 67.5em) {
  .form--module--columns-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form--module--columns-2 > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 2rem);
            flex: 1 1 calc(50% - 2rem);
  }
  .form--module--columns-2 > *:nth-child(even) {
    padding: 0 0 0 0.5rem;
  }
  .form--module--columns-2 > *:nth-child(odd) {
    padding: 0 0.5rem 0 0;
  }
}

[data-theme="homes"] .form--module .error-mandatory [data-errormessage], [data-theme="homes"] .form--module .error-email-validation [data-errormessage] {
  color: #FFF;
}

[data-theme="homes"] .form--module .error-mandatory .input-input, [data-theme="homes"] .form--module .error-email-validation .input-input {
  background-color: #6e092e;
}

[data-theme="homes"] .form--module .error-mandatory .input-input input, [data-theme="homes"] .form--module .error-email-validation .input-input input {
  color: #FFF;
}

/* Errors */
.error-mandatory .input-input, .error-mandatory .input-select {
  border: 2px solid red;
}

.error-mandatory [data-errormessage], .error-email-validation [data-errormessage] {
  display: block;
  color: red;
  font-size: 0.8em;
  margin-bottom: -5px;
}

.error-email-validation .input-input {
  border: 2px solid orange;
}

[data-errormessage] {
  display: none;
}

.hidden {
  display: none;
}

.data-privacy-statement {
  font-size: 0.7em;
  margin-top: 1rem;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
}

.input-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #000000;
  margin-top: 0.5em;
}

.input-checkbox + label:before {
  content: '';
  margin-right: 0.5em;
  width: 1.8em;
  height: 1.8em;
  border: 1px solid #848483;
  background: #FFF;
  -ms-flex-preferred-size: 1.8em;
      flex-basis: 1.8em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: -0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

.input-checkbox:checked + label:before {
  content: 'X';
  background: #000000;
  color: #FFF;
  padding-top: 0.1em;
}

.input-checkbox:hover + label:before {
  border: 1px solid #000000;
}

.input-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 5px #848483;
          box-shadow: 0 0 5px #848483;
}

.input-checkbox:disabled + label {
  opacity: 0.5;
  cursor: auto;
}

form .submit-button {
  margin: 2em 0;
}

form .submit-button.submit-button-quickform {
  margin: 2em 0 0;
  font-size: 0.9em;
  line-height: 2.8em;
}

@media only screen and (min-width: 30em) {
  form .submit-button.submit-button-quickform {
    margin: 0 0 5px 0;
  }
}

@media only screen and (min-width: 40em) {
  form .submit-button.submit-button-quickform button {
    width: 100%;
  }
}

@media (min-width: 93.75em) {
  form .submit-button.submit-button-quickform button {
    width: 70%;
  }
}

form.quickform {
  padding: 1em 1em 2em;
  border-radius: 10px;
  background: #F7F7F7;
}

@media only screen and (min-width: 80em) {
  form.quickform {
    padding: 1.5em 2em 2.5em;
  }
}

.waiting-for-response {
  display: none;
}

.sending [type="submit"] {
  display: none;
}

.sending .waiting-for-response {
  display: block;
}

.submit-sending {
  position: relative;
  height: 60px;
}

.submit-sending--wrp {
  height: 50px;
  width: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.submit-sending-box {
  position: relative;
  height: 50px;
  width: 40px;
  -webkit-animation: box 5s infinite linear;
          animation: box 5s infinite linear;
}

.submit-sending-box .border {
  background: #848483;
  position: absolute;
}

.submit-sending-box .border.one {
  height: 4px;
  top: 0;
  left: 0;
  -webkit-animation: border-one 5s infinite linear;
          animation: border-one 5s infinite linear;
}

.submit-sending-box .border.two {
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  -webkit-animation: border-two 5s infinite linear;
          animation: border-two 5s infinite linear;
}

.submit-sending-box .border.three {
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  -webkit-animation: border-three 5s infinite linear;
          animation: border-three 5s infinite linear;
}

.submit-sending-box .border.four {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 4px;
  -webkit-animation: border-four 5s infinite linear;
          animation: border-four 5s infinite linear;
}

.submit-sending-box .line {
  height: 4px;
  background: #848483;
  position: absolute;
  width: 0%;
  left: 25%;
}

.submit-sending-box .line.one {
  top: 25%;
  width: 0%;
  -webkit-animation: line-one 5s infinite linear;
          animation: line-one 5s infinite linear;
}

.submit-sending-box .line.two {
  top: 45%;
  -webkit-animation: line-two 5s infinite linear;
          animation: line-two 5s infinite linear;
}

.submit-sending-box .line.three {
  top: 65%;
  -webkit-animation: line-three 5s infinite linear;
          animation: line-three 5s infinite linear;
}

@-webkit-keyframes border-one {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-one {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes border-two {
  0% {
    height: 0;
  }
  10% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes border-two {
  0% {
    height: 0;
  }
  10% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes border-three {
  0% {
    width: 0;
  }
  20% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-three {
  0% {
    width: 0;
  }
  20% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes border-four {
  0% {
    height: 0;
  }
  30% {
    height: 0%;
  }
  40% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes border-four {
  0% {
    height: 0;
  }
  30% {
    height: 0%;
  }
  40% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes line-one {
  0% {
    left: 25%;
    width: 0;
  }
  40% {
    left: 25%;
    width: 0%;
  }
  43% {
    left: 25%;
    width: 50%;
  }
  52% {
    left: 25%;
    width: 50%;
  }
  54% {
    left: 25%;
    width: 0%;
  }
  55% {
    right: 25%;
    left: auto;
  }
  63% {
    width: 10%;
    right: 25%;
    left: auto;
  }
  100% {
    width: 10%;
    right: 25%;
    left: auto;
  }
}

@keyframes line-one {
  0% {
    left: 25%;
    width: 0;
  }
  40% {
    left: 25%;
    width: 0%;
  }
  43% {
    left: 25%;
    width: 50%;
  }
  52% {
    left: 25%;
    width: 50%;
  }
  54% {
    left: 25%;
    width: 0%;
  }
  55% {
    right: 25%;
    left: auto;
  }
  63% {
    width: 10%;
    right: 25%;
    left: auto;
  }
  100% {
    width: 10%;
    right: 25%;
    left: auto;
  }
}

@-webkit-keyframes line-two {
  0% {
    width: 0;
  }
  42% {
    width: 0%;
  }
  45% {
    width: 50%;
  }
  53% {
    width: 50%;
  }
  54% {
    width: 0%;
  }
  60% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

@keyframes line-two {
  0% {
    width: 0;
  }
  42% {
    width: 0%;
  }
  45% {
    width: 50%;
  }
  53% {
    width: 50%;
  }
  54% {
    width: 0%;
  }
  60% {
    width: 50%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes line-three {
  0% {
    width: 0;
  }
  45% {
    width: 0%;
  }
  48% {
    width: 50%;
  }
  51% {
    width: 50%;
  }
  52% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@keyframes line-three {
  0% {
    width: 0;
  }
  45% {
    width: 0%;
  }
  48% {
    width: 50%;
  }
  51% {
    width: 50%;
  }
  52% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes box {
  0% {
    opacity: 1;
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  55% {
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  60% {
    margin-left: 0px;
    height: 35px;
    width: 50px;
  }
  74% {
    msthin-left: 0;
  }
  80% {
    margin-left: -50px;
    opacity: 1;
  }
  90% {
    height: 35px;
    width: 50px;
    margin-left: 50px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes box {
  0% {
    opacity: 1;
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  55% {
    margin-left: 0px;
    height: 50px;
    width: 40px;
  }
  60% {
    margin-left: 0px;
    height: 35px;
    width: 50px;
  }
  74% {
    msthin-left: 0;
  }
  80% {
    margin-left: -50px;
    opacity: 1;
  }
  90% {
    height: 35px;
    width: 50px;
    margin-left: 50px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.field-input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #848483;
}

.field-input-number .input-input {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 2.1em;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none !important;
  text-align: center;
}

.field-btn-plus, .field-btn-minus {
  background-color: #848483;
  width: 2.1em;
  height: 2.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  cursor: pointer;
}

.field-btn-plus.disabled, .field-btn-minus.disabled, .field-btn-plus.disabled:hover, .field-btn-minus.disabled:hover {
  background-color: #848483;
}

.field-btn-plus:hover, .field-btn-minus:hover {
  background-color: #343434;
}

.field-btn-minus {
  background-image: url(/bundles/app/static/frontend/images/form/minus.svg);
}

.field-btn-plus {
  background-image: url(/bundles/app/static/frontend/images/form/plus.svg);
}

.fieldsareaname:not(:first-child) {
  margin-top: 1.5rem;
}

.form-icon--dropdown, .form-icon--continue, .form-icon--datepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3em;
  height: calc(3em - 2px);
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.form-icon--dropdown img, .form-icon--continue img, .form-icon--datepicker img {
  height: 32px;
}

.form-icon--dropdown img {
  -webkit-transform-origin: 50% 77%;
          transform-origin: 50% 77%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.form-icon--continue img {
  -webkit-transform-origin: 50% 77%;
          transform-origin: 50% 77%;
}

.form-icon--datepicker img {
  width: 100%;
}

.dsvgo {
  opacity: 0.5;
}