/*
Dropdown is initially on the left side of the button.
If you want it to be on the right side add the class 'right' to 'ifs-dropdown'.

<div class="ifs-dropdown open">
    <button type="button" class="ifs-button">
        <i class="ifs-icons ifs-icon-swap_vert"></i>
    </button>
    <ul class="ifs-dropdown-menu pull-right" aria-labelledby="examplePanelDropdown" role="menu">
        <li>
            <a href="javascript:void(0);">
                <span>Dropdown Entry 1</span>
            </a>
            <i class="ifs-icons ifs-icon-arrow_upward"></i>
        </li>
        <li class="active">
            <a href="javascript:void(0);">
                <span>Dropdown Entry 2</span>
            </a>
            <i class="ifs-icons ifs-icon-arrow_downward"></i>
        </li>
    </ul>
</div>
*/

.ifs-dropdown {
    position: relative;

    > .ifs-dropdown-menu {
        display: none;
        position: absolute;
        left: 0;
        min-width: 150px;
        max-width: 250px;
        margin: 0;
        padding: 0;
        z-index: 2000;
        list-style-type: none;
        border: 1px solid $main-border-color;
        background: $main-background;
        @include button-active-state;

        > li {
            display: flex;
            align-items: center;
            padding: 0.2rem 0.5rem;
            border-bottom: 1px solid transparent;
            cursor: pointer;
        }

        > li:last-child {
            border-bottom: none;
        }

        > li:hover {
            background: $table-nth-child;
        }

        > li.active {
            background: $second-color;

            > a > span {
                color: $main-background;
            }

            > .ifs-icons {
                color: $main-background;
            }
        }

        > li.seperator {
            border-bottom: 1px solid $main-border-color;
        }

        > li > a {
            display: flex;
            flex: auto;
            overflow: hidden;
            color: $main-font-color;
            text-decoration: none;

            > span {
                flex: auto;
                display: block;
                text-align: left;
                @include ellipsis;
            }

            > .ifs-icons {
                padding-left: 0.5rem;
                font-size: $dropdown-font-size-xl;
            }
        }
    }
}

.ifs-dropdown.open {
    > .ifs-button {
        @include button-active-state;
    }

    > .ifs-dropdown-menu {
        display: block;
    }
}

.ifs-dropdown.right {
    > .ifs-dropdown-menu {
        left: auto;
        right: 0;
    }
}

.ifs-dropdown.triangle {
        > .ifs-button {
            > label {
                padding-right: 0.5rem;
            }

            @include triangle;
        }
}

.ifs-dropdown.open.triangle {
    > .ifs-button > .ifs-triangle {
        @include triangle-open;
    }
}
