<html>
<head></head>
<body>
<center>
    <table border=1 width=70%>
        <tr>
            <td colspan=2 align="center">Obligations</td>
        </tr>
        <tr align="center">
            <td width=50%>User</td>
            <td width=50%>Provider</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>obligation: </b><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>duty: </b>Im Falle einer Lieferverzögerung auf Verlangen des Verkäufers innerhalb einer angemessenen Frist zu erklären, ob er weiterhin auf Lieferung besteht oder wegen
                der Verzögerung vom Vertrag zurücktritt undoder Schadensersatz statt der Leistung verlangt<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>source: </b>Im Falle einer Lieferverzögerung ist der Käufer verpflichtet, auf Verlangen des Verkäufers
                innerhalb einer angemessenen Frist zu erklären, ob er weiterhin auf Lieferung besteht oder wegen der Verzögerung vom Vertrag zurücktritt undoder Schadensersatz statt der Leistung verlangt.
            </td>
            <td>&nbsp;&nbsp;<b>obligation: </b><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>duty: </b>Ansprüche an den Käufer abzutreten<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>source: </b>Der Verkäufer ist jedoch verpflichtet, auf Verlangen eventuelle, ihm
                gegen seinen Vorlieferanten zustehende Ansprüche an den Käufer abzutreten.
            </td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>obligation: </b><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>duty: </b>ein geeignetes Entsorgungsunternehmen Soweit vom Verkäufer gemäß der Verpackungsverordnung in ihrer gültigen Fassung bzw. ab dem 01.01.2019 gemäß
                Verpackungsgesetz bei der Entsorgung eingeschaltet wird das Verpackungsmaterial bereitzuhalten und dem Entsorgungsunternehmen zu übergeben<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>source: </b>Soweit vom Verkäufer gemäß der
                Verpackungsverordnung in ihrer gültigen Fassung bzw. ab dem 01.01.2019 gemäß Verpackungsgesetz bei der Entsorgung ein geeignetes Entsorgungsunternehmen eingeschaltet wird, ist der Käufer verpflichtet, das Verpackungsmaterial bereitzuhalten und
                dem Entsorgungsunternehmen zu übergeben.
            </td>
            <td>&nbsp;&nbsp;<b>obligation: </b><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>condition: </b>Übersteigt der Wert der vom Verkäufer gegebenen Abtretungen und Sicherungen die Forderungen des Verkäufers insgesamt um mehr als 50 %, so<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>duty: </b>auf
                Verlangen des Käufers insoweit nach Wahl des Verkäufers entsprechende Sicherheiten freizugeben<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>source: </b>Übersteigt der Wert der vom Verkäufer gegebenen Abtretungen und Sicherungen die Forderungen
                des Verkäufers insgesamt um mehr als 50%, so verpflichtet sich der Verkäufer, auf Verlangen des Käufers insoweit nach Wahl des Verkäufers entsprechende Sicherheiten freizugeben.
            </td>
        </tr>
    </table>
</center>
<p/>
<center>
    <table border=1 width=70%>
        <tr>
            <td colspan=2 align="center">Potential obligations</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>source: </b>Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der das Unternehmen des Verkäufers unterliegt, dient Art.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>source: </b>Bei Zahlungsverzug des Käufers ist der Verkäufer zur Rücknahme der Ware nach Mahnung berechtigt und der Käufer zur Herausgabe verpflichtet.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>source: </b>Wird die Vorbehaltsware vom Käufer zu einer neuen beweglichen Sache verarbeitet, so erfolgt die Verarbeitung für den Verkäufer, ohne dass dieser hieraus verpflichtet wird;</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<b>source: </b>Sie setzen im Übrigen die Beachtung eigener Pflichten des Rückgriffsberechtigten, insbesondere die Beachtung der Rügeobliegenheiten, voraus.</td>
        </tr>
    </table>
</center>
</body>
</html>